@use "/src/styles/abstracts" as ab;

.reserve {
	--_w: 35rem;

	&[data-title="reservation"] {
		--_w: 40rem;
		margin-block-end: calc(-1 * clamp(3em, 5vi, 5em));
	}

	@include ab.reserve {
		&[data-title="home"] {
			background-color: var(--light-gold);
			padding-block-start: 2em;
		}
	}

	.container {
		display: grid;
		// gap: 1em;
        // outline :2px solid red;
		@include ab.reserve {
			grid-template-columns: 1fr 1fr;
		}

		.image {
			display: none;
			align-self: end;
			// outline :2px solid red;
			
			@include ab.reserve {
				display: block;
				width: 100%;
			}
		}

		.action {
			display: grid;
			gap: 1em;
			// outline :2px solid red;
			align-content: start;
			padding-block-end: 2em;

			.heading {
				text-align: center;
				text-wrap: balance;

				@include ab.reserve {
					text-align: left;
				}
				h2 {
					font-weight: 400;
				}

				p {
					color: var(--grey);
					font-weight: 500;
				}
			}

			.info {
				background-color: var(--light-grey);
				width: min(100%, var(--_w));

				padding-inline: clamp(1.5em, 3vi, 2.5em);
				padding-block: 1.5em;
				display: grid;
				gap: 1em;

				margin-inline: auto;

				@include ab.reserve {
					margin-inline: 0;
				}

				.step {
					.calendar {
						> div {
							width: 100%;
						}
					}

					.selectionContainer {
						display: grid;
						gap: 0.75em;

						> div {
							border: 1px solid var(--grey-outline);
							padding: 1em;

							display: grid;
							gap: 0.5em;

							background-color: var(--white);

							h4 {
								text-align: center;
							}

							.list {
								display: grid;
								grid-template-columns: repeat(4, 1fr);
								gap: 0.25em;

								button {
									--_bg: var(--light-grey);

									background-color: var(--_bg);
									border: none;
									padding-block: 0.5rem;
									font-weight: 500;

									transition: background-color 300ms;

									&:hover,
									&:focus-visible {
										--_bg: var(--calander-now);
									}

									&[data-selected="true"] {
										--_bg: var(--accent);
									}

									&:disabled {
										--_bg: hsl(
											from var(--light-grey) h s l / 0.5
										);
										opacity: 0.5;
										font-weight: 400;
										cursor: not-allowed;
									}
								}
							}
						}
					}

					.form {
						form {
							--_gap: 1rem;

							display: grid;
							gap: var(--_gap);

							input,
							textarea {
								resize: none;
								width: 100%;

								font-size: 1.25rem;
								font-weight: 500;
								padding-block: 0.25em;
								padding-inline: 0.5em;
							}

							.inputGroup {
								display: grid;
								gap: var(--_gap);

								grid-template-columns: repeat(
									auto-fit,
									minmax(10rem, 1fr)
								);

								align-items: start;
							}

							.input {
								display: grid;
								gap: 0.25rem;

								position: relative;
							}
						}
					}
				}

				.detail {
					font-size: 1.25rem;
					font-weight: 600;

					span {
						color: var(--grey-outline);
						font-weight: 700;
					}
				}

				.infoAction {
					margin-block-start: 0.5em;
					padding-block-start: 1.5em;
					border-top: 1px solid #dad5d5;

					display: flex;
					justify-content: flex-end;
					gap: 1em;
				}
			}
		}
	}
}
