@use "/src/styles/abstracts" as ab;

.reserve {
	@include ab.reserve {
		background-color: var(--light-gold);
		padding-block-start: 2em;
	}

	.container {
		display: grid;
		gap: 1em;

		@include ab.reserve {
			grid-template-columns: 2fr 3fr;
		}

		.image {
			display: none;
			align-self: end;

			@include ab.reserve {
				display: block;
			}
		}

		.action {
			display: grid;
			gap: 1em;

			align-content: start;
			padding-block-end: 2em;

			.heading {
				text-align: center;
				text-wrap: balance;

				@include ab.reserve {
					text-align: left;
				}
				h2 {
					font-weight: 400;
				}

				p {
					color: var(--grey);
					font-weight: 500;
				}
			}

			.info {
				background-color: var(--light-grey);
				width: min(100%, 35em);

				padding-inline: clamp(1.5em, 3vi, 2.5em);
				padding-block: 1.5em;
				display: grid;
				gap: 1em;

				.step {
					.calendar {
						> div {
							width: 100%;
						}
					}

					.selectionContainer {
						display: grid;
						gap: 1em;

						> div {
							border: 1px solid var(--grey-outline);
							padding: 1em;

							display: grid;
							gap: 0.5em;

							h4 {
								text-align: center;
							}
						}
					}
				}

				.detail {
					font-size: 1.25rem;
					font-weight: 600;

					span {
						color: var(--grey-outline);
						font-weight: 700;
					}
				}

				.infoAction {
					margin-block-start: 0.5em;
					padding-block-start: 1.5em;
					border-top: 1px solid #dad5d5;

					display: flex;
					justify-content: flex-end;
					gap: 1em;
				}
			}
		}
	}
}
