---
import styles from "./celebration.module.scss";
---

<div class={styles.celebration}>
	<div class={`container ${styles.container}`}>
		<h2 class="clash-display">
			Transform Every Moment into a Celebration!
		</h2>

		<p class="text">
			Welcome to Cozy - The Casual Lounge! Dive into an exceptional dining
			and drinking experience where comfort meets sophistication. Whether
			you're enjoying a romantic evening, a relaxed gathering with
			friends, or a lively event, Cozy sets the perfect scene for
			unforgettable memories.
		</p>

		<div class={styles.action}>
			<a href="" data-type="button" data-variant="primary">Book a Table</a
			>
		</div>
	</div>
</div>
