@use "/src/styles/abstracts" as ab;

.hero {
	background-image:
	linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.438),
		rgba(0, 0, 0, 0.438),
		rgba(0, 0, 0, 0.473)
	),
	url("/hero.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	h1 {
		text-align: center;
		padding-block: 5em 2.5em;

		color: var(--white);

		font-size: clamp(3rem, 4vi, 3.75rem);
	}
}
