@use "/src/styles/abstracts" as ab;

.hero {
	background-image: url("/hero.webp");
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		text-align: center;
		padding-block: 5em 2.5em;

		color: var(--white);

		font-size: clamp(3rem, 4vi, 3.75rem);
	}
}
