---

import styles from "./offer.module.scss"

---

<div class={`container ${styles.offer}`}>
    <div class={styles.content}>
        <h2>What We Offer</h2>
        <p>Cozy - The Casual Lounge isn't just a place to eat! It's a haven for relaxation and enjoyment, featuring comforting dishes with a touch of casual elegance, set in a warm and inviting atmosphere.</p>
    </div>
    <div class={styles.img}></div>
</div>    