.offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 2fr));
    gap: 1em;

    padding-block: 3em;

    .content {
        display: grid;
        justify-content: space-between;
        gap: 1em;

        h2 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.5em;
        }
    }

    .img {
        background-image: url(/home/offer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 19em;
    }
}
