@use "/src/styles/abstracts" as ab;

.hero {
	display: grid;
	gap: 2px;
	position: relative;

	grid-template-columns: [cozy-start menu-start delivery-start inside-start] 1fr;
	grid-template-rows:
		[cozy-start] 5fr
		[cozy-end menu-start] 2fr
		[menu-end delivery-start] 2fr
		[delivery-end inside-start] 2fr;

	@include ab.hero {
		grid-template-columns:
			[cozy-start] 8fr
			[cozy-end menu-start delivery-start inside-start] 5fr;
		grid-template-rows:
			[cozy-start menu-start] 1fr
			[menu-end delivery-start] 1fr
			[delivery-end inside-start] 1fr;
		min-height: 100vb;
	}

	h4 {
		font-weight: 600;
	}

	p,
	h1,
	h4 {
		color: var(--white);
		font-size: clamp(1rem, 1.5vi, 1.25rem);
	}

	.nav {
		z-index: 1;
		display: none;

		position: absolute;
		width: min(90%, var(--max-width));
		left: 50%;
		translate: -50%;

		grid-column: cozy-start;
		gap: 2rem;
		align-items: center;
		justify-content: space-between;

		@include ab.nav {
			display: none;
		}

		@include ab.hero {
			--_w: min(var(--max-width), calc(90 * var(--vw)));
			--_mi: calc((100 * var(--vw) - var(--_w)) / 2);

			left: var(--_mi);
			translate: 0;

			width: calc(100% - var(--_mi));
			display: flex;
		}

		.links {
			@include ab.hero {
				padding-inline-end: clamp(1.5rem, 2.5vi, 2.5rem);
			}

			ul {
				--_c: var(--white);

				list-style-type: none;
				padding: 0;
				margin: 0;
				display: flex;
				gap: clamp(2rem, 3vi, 3rem);

				li {
					a {
						font-weight: 600;
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	> div {
		position: relative;
		overflow: hidden;

		&:hover {
			.image {
				scale: 1.1;
			}
		}

		.image {
			position: absolute;
			object-fit: cover;
			z-index: -1;
			inset: 0;

			width: 100%;
			height: 100%;

			transition: scale 200ms;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				transition: scale 200ms;
			}
		}

		.content {
			width: 90%;
			margin-inline: auto;

			@include ab.screen-40 {
				width: 70%;
			}
		}
	}

	.cozy {
		grid-area: cozy;
		overflow: hidden;

		text-align: center;
		text-wrap: balance;

		display: grid;
		place-items: center;

		@include ab.hero {
			text-align: left;

			.content {
				--_w: min(var(--max-width), calc(90 * var(--vw)));
				--_mi: calc((100 * var(--vw) - var(--_w)) / 2);

				margin-inline-start: var(--_mi);

				width: 100%;
				max-width: calc(99% - var(--_mi));
			}
		}

		.content {
			display: grid;
			gap: 1rem;
		}

		.subheading {
			font-weight: 500;
			font-size: clamp(1.25rem, 1.75vi, 1.5rem);
		}

		.heading {
			font-size: clamp(3rem, 4vi, 3.75rem);
		}

		.image {
			margin: auto;
			--slide-size: 100%;

			.embla__viewport {
				overflow: hidden;
				height: 100%;
			}
			.embla__container {
				display: flex;
				touch-action: pan-y pinch-zoom;
				margin-left: calc(var(--slide-spacing) * -1);
				height: 100%;
			}
			.embla__slide {
				transform: translate3d(0, 0, 0);
				flex: 0 0 var(--slide-size);
				min-width: 0;
			}
		}
	}

	> :nth-child(n + 3) {
		padding-block: 8rem;

		p,
		h4 {
			text-align: center;
			text-wrap: balance;
		}

		@include ab.hero {
			padding-block: 5rem;

			display: grid;
			place-items: center;
		}
	}

	.menu {
		grid-area: menu;
	}

	.delivery {
		grid-area: delivery;
	}

	.inside {
		grid-area: inside;
	}
}
