---

import styles from "./celebration.module.scss"

---
<div class={styles.bg}>
    <div  class={`container ${styles.celebration}`}>
        <div class={styles.heading}>
            <h2>Transform Every Moment into a Celebration!</h2>
        </div>
        
        <p>Welcome to Cozy - The Casual Lounge! Dive into an exceptional dining and drinking experience where comfort meets sophistication. Whether you're enjoying a romantic evening, a relaxed gathering with friends, or a lively event, Cozy sets the perfect scene for unforgettable memories.</p>
        <a href="">Book a Table</a>
    </div>
</div>
