@use "/src/styles/abstracts" as ab;

.celebration {
	background-image: url("/home/celebration.webp");
	background-repeat: no-repeat;
	background-size: cover;
	padding-block: clamp(3em, 4vi, 4em);

	.container {
		text-align: center;
		display: grid;
		gap: clamp(1.75em, 2vi, 2.5em);

		h2,
		p {
			color: var(--white);
		}
	}
}
