@use "/src/styles/abstracts" as ab;

.footer {
	background-color: var(--black);
	color: var(--white);
	h2 {
		font-size: 1.25rem;
	}
	&_1 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 2em;

		padding-block: clamp(2em, 4vi, 4em);
		border-bottom: 0.1em solid var(--white);

		.item {
			display: flex;
			flex-direction: column;
			gap: 0.8em;

			a {
				color: var(--white);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			> div {
				iframe {
					width: 100%;
					height: auto;
				}
			}
		}

		.item1 {
			display: flex;
			flex-direction: column;
			gap: 1em;

			> div {
				display: flex;
				flex-direction: column;
				gap: 0.8em;
			}

			.social {
				display: flex;
				gap: clamp(1em, 1.5vi, 1.25em);

				a {
					--_c: var(--text);
					--_bg: var(--white);

					font-size: clamp(1rem, 2vi, 1.5rem);
					width: clamp(1.8rem, 3vi, 2.5rem);
					aspect-ratio: 1;

					color: var(--_c);
					background-color: var(--_bg);
					border-radius: 50%;

					padding: 0.25em;

					display: flex;
					align-items: center;
					justify-content: center;

					transition:
						color 300ms,
						background-color 300ms;

					&:hover {
						--_c: var(--white);
						&.facebook {
							--_bg: var(--facebook);
						}

						// &.twitter {
						//     --_bg: var(--twitterx);
						// }

						&.instagram {
							background: var(--instagram);
						}

						&.whatsapp {
							--_bg: var(--whatsapp);
						}
					}
				}
			}
		}

		.item2 {
			display: flex;
			flex-direction: column;
			gap: 1em;

			max-width: 18em;

			:nth-child(2) {
				display: flex;
				flex-direction: column;
				gap: 0.8em;
				> div {
					display: flex;
					flex-direction: row;
					gap: 0;
					button {
						border: none;
						background-color: var(--gold);

						height: 2em;
						max-width: 8em;
						border-radius: 0 0.2em 0.2em 0;
						cursor: pointer;

						padding-inline: 1em;
						font-weight: 600;

						display: flex;
						justify-content: center;
					}
					input {
						max-width: 12em;
						height: 2em;
						border: none;
						font-weight: 600;

						padding-left: 1em;

						border-radius: 0.2em 0 0 0.2em;
					}
				}
			}
		}
	}

	&_2 {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding-block: 2em;

		a {
			color: var(--white);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
